version: '3.9'

services:
  api:
    build:
      context: ./backend
    container_name: clima-api
    env_file:
      - ./.env
    ports:
      - "3001:3001"
    depends_on:
      - rabbitmq
    networks:
      - clima-network

  frontend:
    build:
      context: ./frontend
    container_name: clima-frontend
    env_file:
      - ./.env
    ports:
      - "3000:3000"
    depends_on:
      - api
    networks:
      - clima-network
    environment:
      # para que o frontend use o hostname do container do backend
      REACT_APP_API_URL: http://api:3001

  rabbitmq:
    image: rabbitmq:3-management
    container_name: clima-rabbitmq
    environment:
      RABBITMQ_DEFAULT_USER: user
      RABBITMQ_DEFAULT_PASS: password
    ports:
      - "5672:5672"
      - "15672:15672" # painel web do RabbitMQ
    networks:
      - clima-network

networks:
  clima-network:
    driver: bridge
