

services:
  clima-mongo:
    image: mongo:7
    container_name: clima-mongo
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

  backend:
    build: ./backend
    container_name: clima-backend
    restart: always
    ports:
      - "3001:3001"  # mapeando a porta certa do NestJS
    env_file:
      - ./backend/.env
    depends_on:
      - clima-mongo

volumes:
  mongo-data:
