services:
  api:
    build: ./backend
    container_name: clima-api
    env_file:
      - ./.env
    ports:
      - "3001:3001"
    depends_on:
      - rabbitmq
      - mongo
    networks:
      - clima-network

  frontend:
    build: ./frontend
    container_name: clima-frontend
    env_file:
      - ./.env
    ports:
      - "3000:3000"
    depends_on:
      - api
    networks:
      - clima-network
    environment:
      REACT_APP_API_URL: http://api:3001

  mongo:
    image: mongo:6
    container_name: clima-mongo
    ports:
      - "27017:27017"
    networks:
      - clima-network

  rabbitmq:
    image: rabbitmq:3-management
    container_name: clima-rabbitmq
    environment:
      RABBITMQ_DEFAULT_USER: user
      RABBITMQ_DEFAULT_PASS: password
    ports:
      - "5672:5672"
      - "15672:15672"
    networks:
      - clima-network

networks:
  clima-network:
    driver: bridge
